/* Conteneur principal */
.article-details-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f7f7f7;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image de l'article */
.article-image {
    flex: 1;
    max-width: 45%;
    margin-right: 2rem;
}

.article-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Détails de l'article */
.article-details {
    flex: 1;
    max-width: 50%;
    color: #27316f;
}

.article-title {
    font-size: 2rem;
    font-weight: bold;
    color: #27316f;
    margin-bottom: 1rem;
}

.article-description {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Détails du donneur */
.user-details {
    margin-bottom: 2rem;
}

.user-details h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.user-details p {
    font-size: 1rem;
}

/* Section de demande de réservation */
.request-section {
    margin-top: 2rem;
}

.request-section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Bouton Réserver */
.btn-custom-reserver {
    background-color: #e6b800;
    color: #27316f;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-custom-reserver:hover {
    background-color: #3a9994;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .article-details-container {
        flex-direction: column;
        padding: 1rem;
    }

    .article-image {
        max-width: 100%;
        margin-right: 0;
    }

    .article-details {
        max-width: 100%;
    }

    .article-title {
        font-size: 1.5rem;
    }

    .article-description {
        font-size: 1rem;
    }

    .request-section p {
        font-size: 1rem;
    }

    .btn-custom-reserver {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
footer {
    background-color: #c1d3dc;
    color: #27316f;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
}

footer a {
    color: #27316f;
}