/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --color-primary: #5ab2af;
    --color-secondary: #e6b800;
    --color-background: #6c757d;
    --color-text: #27316f;
    --color-border: #ced4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    color: #27316f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg,#c1d3dc,#5ab2af );
  padding-top: 60px; /* Ajuste cette valeur en fonction de la hauteur de ta navbar */

}

/* Navbar */
nav {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c1d3dc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo {
    display: inline-block;
}

nav .site-name {
    font-size: 24px;
    font-weight: 600;
    color: #27316f;  
    margin-left: -1060px;
    display: inline-block;
}

nav ul {
    
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
   
    font-weight: 500;
    text-decoration: none;
}

nav ul li a:hover {
    color: #5ab2af; 
}

  nav ul li a {
    color: #27316f;
    font-weight: 500;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #5ab2af;
  }
  

.container {
 flex: 1;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 80px;
  color: #27316f;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 300px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5ab2af, #e6b800);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);

  
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
::placeholder{
    color: #27316f;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #5ab2af;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #5ab2af;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #5ab2af, #e6b800);
}

form .button input:hover {
  background: linear-gradient(-135deg,#5ab2af, #6c757d);
}
textarea{
    height: 100px; 
    width: 100%;
     padding: 10px; 
     font-family: 'Poppins', sans-serif; 
     border: 1px solid  ;
     border-radius: 5px;
}



/* Responsive media query code for mobile devices */
@media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .category {
      width: 100%;
    }
  
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
   
    
  }
  
  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
   
    
  }
