{% extends 'base.html.twig' %}

{% block title %}
    Formulaire d'inscription - Project DON
{% endblock %}


{% block content %}
<div class="container-inscription">
    <div class="title">Formulaire d'Inscription</div>

    {# Affichage des messages d'erreur globaux #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="content">
        <form action="{{ path('utilisateur_create') }}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Votre Nom</span>
                    <input type="text" name="nom" placeholder="EX: Kany" required>
                </div>
                <div class="input-box">
                    <span class="details">Votre Prénom</span>
                    <input type="text" name="prenom" placeholder="EX: Jane" required>
                </div>
                <div class="input-box">
                    <span class="details">Votre Email</span>
                    <input type="email" name="email" placeholder="EX: kanyjane@gmail.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Votre Pseudo</span>
                    <input type="text" name="pseudo" placeholder="EX: Kany_Jane" required>
                </div>
                <div class="input-box">
                    <span class="details">Votre Téléphone</span>
                    <input type="tel" name="telephone" placeholder="EX: 0612131415" required>
                </div>
                <div class="input-box">
                    <span class="details">Votre Mot de Passe</span>
                    <input type="password" name="mot_passe" placeholder="********" required>
                </div>
            </div>
            <div class="gender-details">
                <span class="gender-title">Votre Rôle</span>
                <div class="category">
                    <label>
                        <input type="radio" name="role" value="Donneur" required>
                        <span class="dot one"></span>
                        <span class="gender">Donneur</span>
                    </label>
                    <label>
                        <input type="radio" name="role" value="Receveur" required>
                        <span class="dot two"></span>
                        <span class="gender">Receveur</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="S'inscrire">
            </div>
            <p>Avez-vous déjà un compte ? <a href="#">Se connecter</a></p>
        </form>
    </div>
</div>
{% endblock %}
